.col-list{
	float: left;
	padding: 0 5px;
}
.head-col-list{
	height: 80px;
	background-color: #ff00ff;
}
.item-prospecto{
	border: 1px solid blue;
	margin-bottom: 2px;
	padding-top: 10px;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}